<a href="https://colab.research.google.com/github/Hannibal730/summer-PTM/blob/main/7_1_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%EC%9D%84%ED%86%B5%ED%95%9C%EB%AC%B8%EC%A0%9C%ED%95%B4%EA%B2%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
while True:
  p=input("문자입력(종료x):>>")
  print(p)
  if p=="끝":
    break

문자입력(종료x):>>밥
밥
문자입력(종료x):>>콜라
콜라
문자입력(종료x):>>끝
끝

In [ ]:
m={
    "떡볶이":"오뎅",
    "짜장면":"단무지",
    "짬뽕":"차돌박이",
    "탕수육":"파인애플",
    "양장피":"딸기"
}

while True:

  q=input(f'{m.keys()}중에서 좋아하는 음식은? (종료하려며 끝)')
  if q=="끝":
    print("끝")
    break
  elif q not in m:
    print("그런 메뉴 없습니다.")
  elif q in m:
    print(m[q])

dict_keys(['떡볶이', '짜장면', '짬뽕', '탕수육', '양장피'])중에서 좋아하는 음식은? (종료하려며 끝)끝
끝

In [ ]:
num=2
while num<10:
  print(f'{num}단을 출력 고고')
  i=1
  for i in range(1,10):
    print(f'{num} * {i} = {num*i}')
    i+=1
  print()
  num+=1

2단을 출력 고고
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3단을 출력 고고
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4단을 출력 고고
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5단을 출력 고고
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6단을 출력 고고
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7단을 출력 고고
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8단을 출력 고고
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9단을 출력 고고
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
i=1
for i in range(1,10):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
k=1
while k<6:
  for k in range(1,k+1):
    print(k,end="")
  k+=1
  print()

1
12
123
1234
12345

In [ ]:
for i in range(1, 6):  # i는 1부터 5까지 반복합니다 (range는 끝 값 전까지이므로 6을 사용합니다).
    for j in range(1, i + 1):  # j는 1부터 i까지 반복합니다.
        print(j, end="")
    print()  # 한 줄을 출력한 후 줄 바꿈을 합니다.

1
12
123
1234
12345

In [ ]:
def hap(a,b):
  return a+b
hap(10,20)

30

In [ ]:
def hap(a,b):
  c=a+b
  print(c)
hap(10,20)

30

In [ ]:
def song():
  for i in range(1,4):
    print("바나바니 바니바니")
    print("당근당근")

song()

바나바니 바니바니
당근당근
바나바니 바니바니
당근당근
바나바니 바니바니
당근당근

In [ ]:
def game(name,age):
  print(f'{name}은 {age}살 입니다.')
  song()


game("홍길동",30)

홍길동은 30살 입니다.
바나바니 바니바니
당근당근
바나바니 바니바니
당근당근
바나바니 바니바니
당근당근

In [ ]:
def order(num):
  if num==1:
    menu="짜장면"
    price=3000
  elif num==2:
    menu="짬뽕"
    price=4000
  elif num==3:
    menu="탕수육"
    price=5000
  elif num==4:
    menu="양장피"
    price=6000
  else:
    print("다른 메뉴 번호를 입력해줘")
  print(f'주문한 메뉴는 {menu}이며 가격은 {price}입니다.')

In [ ]:
while True:
  print("주문해주세요")
  print("1.짜장면 2.짬뽕 3.탕수육 4.양장피")
  num=input("먹고 싶은 메뉴의 번호를 입력해주세요(종료는 끝)")

  if num=="끝":
    break
  else:
    order(int(num))

주문해주세요
1.짜장면 2.짬뽕 3.탕수육 4.양장피
먹고 싶은 메뉴의 번호를 입력해주세요(종료는 끝)3
주문한 메뉴는탕수육이며 가격은 5000
주문해주세요
1.짜장면 2.짬뽕 3.탕수육 4.양장피
먹고 싶은 메뉴의 번호를 입력해주세요(종료는 끝)끝

In [ ]:
def grade(score):
  if score>=90 and score<100:
    grade="A"
  elif score>=80 and score<90:
    grade="B"
  elif score>=70 and score<80:
    grade="C"
  elif score>=60 and score<70:
    grade="D"
  else:
    grade="F"
  return grade

In [ ]:
while True:
  a=input("성적확인[종료:x, 계속:enter]>>")
  if a=="x":
    break
  else:
    name=input("이름을 입력해주세요")
    score=int(input("성적을 입력해주세요"))
    print(f'{name}의 성적은 {grade(score)}입니다.')

성적확인[종료:x, 계속:enter]>>