<a href="https://colab.research.google.com/github/Hannibal730/summer-PTM/blob/main/7_2_%ED%94%84%ED%86%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def grade1(score):
  if 90<=score<=100:
    grade="A"
  elif 80<=score<=90:
    grade="B"
  elif 70<=score<=80:
    grade="C"
  elif 60<=score<=70:
    grade="D"
  else:
    grade="F"
  return grade

while True:
  select=input("종료여부 (종료:x, 계속:다른 키)")
  if select.lower()=="x":
    break
  name=input("학생 이릉을 입력하세요")
  score=int(input("점수를 입력하세요:"))
  print(grade1(score))
  print(f'{name}학생의 성적은 {score}이고 등급은 {grade1(score)}입니다')

종료여부 (종료:x, 계속:다른 키)
학생 이릉을 입력하세요ㅇ
점수를 입력하세요:76
C
ㅇ학생의 성적은 76이고 등급은 C입니다
종료여부 (종료:x, 계속:다른 키)x

In [ ]:

def add (a,b):
  hap= a+b
  avg=hap/2
  #print(f'{a}+{b}={hap}')
  return hap, avg


result=add(10,30)

print(f'합계는 {result[0]}이고 평균은 {result[1]}입니다')

합계는 40이고 평균은 20.0입니다

#전역변수는 함수 안/밖 모두 사용가능

#지역변수는 함수 안에서만 사용가능

In [ ]:
a=10 #전역변수

def f():
  print(a)
f()

print(a)

10
10

In [ ]:
def f2():
  ap=20 #지역변수
  print(ap)
f2()

print(ap)

20

NameError: name 'ap' is not defined

In [ ]:
def f2():
  global k
  k=20 #지역변수이지만 라인2에서 글로벌로 지정해줬기 때문에, 전역변수로 사용가능.
  print(k)
f2()

print(k)

20
20

In [ ]:
r=input("반지름을 입력하세요")
pi=3.14
area=pi*float(r)**2
print(f'원주는 {area}입니다.')

반지름을 입력하세요3
원주는 28.26입니다.

In [ ]:
import random as rd

print(f'이민환의 결혼나이는 {rd.randrange(29,30)}입니다.')

coin=['앞면','뒷면']
while True:
  print(rd.choice(coin))
  if input("그만?(y/n)"):
    break

이민환의 결혼나이는 29입니다.
앞면
그만?(y/n)y

In [ ]:
from random import randrange

randrange(1,30)

21

In [ ]:
import calendar

print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [ ]:
import math
math.ceil(12.3)
math.sqrt(9)
math.pow(2,3)
math.floor(12.3)

12

In [ ]:
def test1():
  data=[1,2,3,4,5]


  data1=[]
  for i in range(len(data)):
    v=data[i]
    if v%2==0:
      data1.append(v)
  print(data1)

test1()

[2, 4]

In [ ]:
def test1():
  data=[1,2,3,4,5]


  data2=[]
  for k in data:
    if k%2==0:
      data2.append(k)
  print(data2)

test1()

[2, 4]

In [ ]:
def test1():
  data=[1,2,3,4,5]
  data3=[v for v in data if v%2==0]
  print(data3)
test1()

[2, 4]

In [ ]:
import random

def test2():
  data=[]
  while len(data)<6:
    p=random.randint(1,45)
    if p not in data:
      data.append(p)
  print(data)
test2()

[29, 36, 34, 26, 22, 16]