<a href="https://colab.research.google.com/github/Hannibal730/summer-PTM/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 정렬 알고리즘
(1) 선택정렬: 선형검색으로 최소값 찾고서, 최소값을 맨 앞으로 보냄. 그리고 걔를 제외하고 나머지 애들끼리 이를 반복

In [20]:
# while과 for 써서 선택정렬

data=[40,70,60,30,10,50]
#     0  1  2  3  4  5

idx=0
while idx<len(data):

# 1. 최소값 찾기
  min_idx=idx
  print(f'인덱스 순서에 따라 설정된 가짜 최소값: {data[min_idx]}')
  for i in range(min_idx+1,len(data)):   # min_idx로 정한 0번째를 제외한 나머지
    if data[i]<data[min_idx]: #만약 이렇다면,
      min_idx=i #최소값 갱신.
      #print(f'갱신 중인 최소값: {data[min_idx]}')
  print(f'실제 최소값: {data[min_idx]}')

# 2. 찾은 실제 최소값과 idx순서의 값(0번째부터 마지막까지 와일로 반복)과 비교 및 교환하기
  data[min_idx],data[idx]=data[idx],data[min_idx]
  print(f'교환 후: {data}')
  idx+=1
print(f'최종결과는 {data}')

인덱스 순서에 따라 설정된 가짜 최소값: 40
실제 최소값: 10
교환 후: [10, 70, 60, 30, 40, 50]
인덱스 순서에 따라 설정된 가짜 최소값: 70
실제 최소값: 30
교환 후: [10, 30, 60, 70, 40, 50]
인덱스 순서에 따라 설정된 가짜 최소값: 60
실제 최소값: 40
교환 후: [10, 30, 40, 70, 60, 50]
인덱스 순서에 따라 설정된 가짜 최소값: 70
실제 최소값: 50
교환 후: [10, 30, 40, 50, 60, 70]
인덱스 순서에 따라 설정된 가짜 최소값: 60
실제 최소값: 60
교환 후: [10, 30, 40, 50, 60, 70]
인덱스 순서에 따라 설정된 가짜 최소값: 70
실제 최소값: 70
교환 후: [10, 30, 40, 50, 60, 70]
최종결과는 [10, 30, 40, 50, 60, 70]

In [23]:
# for 두 번 써서 선택정렬

data=[40,70,60,30,10,50]
#     0  1  2  3  4  5

for idx in range(len(data)):

# 1. 최소값 찾기
  print(f'{idx+1}번째 정렬')
  min_idx=idx
  print(f'인덱스 순서에 따라 설정된 가짜 최소값: {data[min_idx]}')
  for i in range(min_idx+1,len(data)):   # min_idx로 정한 0번째를 제외한 나머지
    if data[i]<data[min_idx]: #만약 이렇다면,
      min_idx=i #최소값 갱신.
      #print(f'갱신 중인 최소값: {data[min_idx]}')
  print(f'실제 최소값: {data[min_idx]}',end='->')

# 2. 찾은 실제 최소값과 idx순서의 값(0번째부터 마지막까지 와일로 반복)과 비교 및 교환하기
  data[min_idx],data[idx]=data[idx],data[min_idx]
  print(f'교환 후: {data}')
  print()
print(f'최종결과는 {data}')

1번째 정렬
인덱스 순서에 따라 설정된 가짜 최소값: 40
실제 최소값: 10->교환 후: [10, 70, 60, 30, 40, 50]

2번째 정렬
인덱스 순서에 따라 설정된 가짜 최소값: 70
실제 최소값: 30->교환 후: [10, 30, 60, 70, 40, 50]

3번째 정렬
인덱스 순서에 따라 설정된 가짜 최소값: 60
실제 최소값: 40->교환 후: [10, 30, 40, 70, 60, 50]

4번째 정렬
인덱스 순서에 따라 설정된 가짜 최소값: 70
실제 최소값: 50->교환 후: [10, 30, 40, 50, 60, 70]

5번째 정렬
인덱스 순서에 따라 설정된 가짜 최소값: 60
실제 최소값: 60->교환 후: [10, 30, 40, 50, 60, 70]

6번째 정렬
인덱스 순서에 따라 설정된 가짜 최소값: 70
실제 최소값: 70->교환 후: [10, 30, 40, 50, 60, 70]

최종결과는 [10, 30, 40, 50, 60, 70]

(2) 버블정렬: 맨 왼쪽에서부터 인접한 두 개끼리 비교하고, 크기 순서로 교환.
이 작업을 맨 오른쪽까지 반복함.
이 과정을 1패스라고 함.
정렬이 완료될 때까지 패스를 반복함.

In [29]:
#while 써서 버블정렬

data=[40,70,60,30,10,50]

n=len(data)-1  #5

while n>1:

  for i in range(len(data)-1):
    if data[i]>data[i+1]:
      data[i],data[i+1]=data[i+1],data[i]
      print(f'교환 후: {data}')
  print(f'패스의 결과: {data}')
  n-=1  # 이렇게 5에서 1씩 줄여나가되, n>1일 때까지면 4번 반복임. 이론상 4번 반복이면 리스트 내에서 맨 뒤에서 맨 앞으로 이동 가능
  print()
print(f'최종 결과: {data}')

교환 후: [40, 60, 70, 30, 10, 50]
교환 후: [40, 60, 30, 70, 10, 50]
교환 후: [40, 60, 30, 10, 70, 50]
교환 후: [40, 60, 30, 10, 50, 70]
패스의 결과: [40, 60, 30, 10, 50, 70]

교환 후: [40, 30, 60, 10, 50, 70]
교환 후: [40, 30, 10, 60, 50, 70]
교환 후: [40, 30, 10, 50, 60, 70]
패스의 결과: [40, 30, 10, 50, 60, 70]

교환 후: [30, 40, 10, 50, 60, 70]
교환 후: [30, 10, 40, 50, 60, 70]
패스의 결과: [30, 10, 40, 50, 60, 70]

교환 후: [10, 30, 40, 50, 60, 70]
패스의 결과: [10, 30, 40, 50, 60, 70]

최종 결과: [10, 30, 40, 50, 60, 70]

In [31]:
#for 써서 버블정렬

data=[40,70,60,30,10,50]

n=len(data)-1  #5

for n in range(len(data)-1, 0 ,-1):

  for i in range(len(data)-1):
    if data[i]>data[i+1]:
      data[i],data[i+1]=data[i+1],data[i]
      print(f'교환 후: {data}')
  print(f'패스의 결과: {data}')
  print()
print(f'최종 결과: {data}')

교환 후: [40, 60, 70, 30, 10, 50]
교환 후: [40, 60, 30, 70, 10, 50]
교환 후: [40, 60, 30, 10, 70, 50]
교환 후: [40, 60, 30, 10, 50, 70]
패스의 결과: [40, 60, 30, 10, 50, 70]

교환 후: [40, 30, 60, 10, 50, 70]
교환 후: [40, 30, 10, 60, 50, 70]
교환 후: [40, 30, 10, 50, 60, 70]
패스의 결과: [40, 30, 10, 50, 60, 70]

교환 후: [30, 40, 10, 50, 60, 70]
교환 후: [30, 10, 40, 50, 60, 70]
패스의 결과: [30, 10, 40, 50, 60, 70]

교환 후: [10, 30, 40, 50, 60, 70]
패스의 결과: [10, 30, 40, 50, 60, 70]

패스의 결과: [10, 30, 40, 50, 60, 70]

최종 결과: [10, 30, 40, 50, 60, 70]

(3)삽입정렬:정렬된 부분과 정렬이 안된 부분으로 나눠서 비교 분석, 교환

이때 맨 왼쪽은 무조건 정렬이 되어 있다는 가정 하에 시작함.

정렬이 안 된 것 중에 맨 처음값을 정렬이 된 것 중에 맨 마지막 값과 비교

In [39]:
data=[40,70,60,30,10,50]

# 인덱스0은 정렬된 것으로 깔고 들어감. 인덱스1부터가 정렬이 안 된 것들
# 정렬 된 것과 안 된 것의 기준을 반복문의 기준으로 함


idx=1
while idx<len(data):

  for i in range(len(data)-1,0,-1):
    if data[i] < data[i-1]:
      data[i],data[i-1]=data[i-1],data[i]
      print(f'교환 후: {data}')
    #else:
      #print('변동없음')
  idx+=1
  print()

print(f'최종결과: {data}')

교환 후: [40, 70, 60, 10, 30, 50]
교환 후: [40, 70, 10, 60, 30, 50]
교환 후: [40, 10, 70, 60, 30, 50]
교환 후: [10, 40, 70, 60, 30, 50]

교환 후: [10, 40, 70, 30, 60, 50]
교환 후: [10, 40, 30, 70, 60, 50]
교환 후: [10, 30, 40, 70, 60, 50]

교환 후: [10, 30, 40, 70, 50, 60]
교환 후: [10, 30, 40, 50, 70, 60]

교환 후: [10, 30, 40, 50, 60, 70]


최종결과: [10, 30, 40, 50, 60, 70]

In [40]:
data=[40,70,60,30,10,50]



for idx in range(1,len(data)):

  for i in range(len(data)-1,0,-1):
    if data[i] < data[i-1]:
      data[i],data[i-1]=data[i-1],data[i]
      print(f'교환 후: {data}')
    #else:
      #print('변동없음')
  print()

print(f'최종결과: {data}')

교환 후: [40, 70, 60, 10, 30, 50]
교환 후: [40, 70, 10, 60, 30, 50]
교환 후: [40, 10, 70, 60, 30, 50]
교환 후: [10, 40, 70, 60, 30, 50]

교환 후: [10, 40, 70, 30, 60, 50]
교환 후: [10, 40, 30, 70, 60, 50]
교환 후: [10, 30, 40, 70, 60, 50]

교환 후: [10, 30, 40, 70, 50, 60]
교환 후: [10, 30, 40, 50, 70, 60]

교환 후: [10, 30, 40, 50, 60, 70]


최종결과: [10, 30, 40, 50, 60, 70]